<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">TodoList</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div>
        <button type="button" class="btn btn-success">Connexion</button>
        <button type="button" class="btn btn-info">Inscription</button>
        <button type="button" class="btn btn-danger">Deconnexion</button>
    </div>
  </div>
</nav>