{% extends 'base.html.twig' %}

{% block title %}Add a new task{% endblock %}

{% block body %}
    <main class="container mt-5 col-lg-4">
        <h1>Add a new task</h1>

        {{ form(form)}}

    </main>

{% endblock %}
